@import '../../_scss/vars';

.scheduler_root{
    // display:flex;

    .time-col{
        display: flex;
        justify-content: center;
        align-items: center;

        .time-picker{
            width: 90%;
            text-align: center;
        }    
    }

    .date-col{
        display: flex;
        justify-content: center;

        .date-picker{
            width:90%;
            text-align: center;
        }
    }

    .dropdown{
        display:flex;
    }

    .btn-schedule{
        width: 90%
    }
}
