$main: #c0392b;
$main_dark: #e15f41;
$highlight: #f1f1f1;
$text: #fff;
$dark: #2d3436;
$dark_highlight: #535c68;
$light: #f1f1f1;

$success: #2ecc71;
$fail: #e74c3c;
$blue: #3498db;

$font: "comic sans";