#UploadLightBox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000; }
  #UploadLightBox .shadow_box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  #UploadLightBox .light_box {
    width: 90%;
    max-width: 1200px;
    height: 90%;
    max-height: 1000px;
    background-color: #f1f1f1;
    z-index: 2; }

._hide {
  display: none !important;
  z-index: -1; }
