#UploadLightBox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  .shadow_box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(#000, 0.6);
    z-index: 1;
  }

  .light_box {
      width: 90%;
      height: 90%;
      max-height: 1000px;
      background-color: #f1f1f1;
      z-index: 2;
  }
}

._hide {
  display: none !important;
  z-index: -1;
}
