@import "../../_scss/_vars";

.numbers_root {
    position: relative;
    width: 100vw;
    max-width: 1600px;
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
        height: 256px;
        width: 256px;
        padding: 16px;
        margin: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        user-select: none;

        ion-icon {
            font-size: 5em;
            width: 100%;
            color: $dark;
            user-select: none;
        }

        p {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            font-weight: 700;
            font-size: 1.5em;
            span {
                width: 100%;
                display: block;
            }
        }
    }
}