@import '../../_scss/vars';

.cl_root{
    td{
        padding: 4px 12px;
    }
    ion-icon{
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: white;
    }

    .btn-call{
        background: $success;
    }

    .btn-del{
        background: $fail;
    }

    .toast_root{
        h1{
            margin-bottom: 20px;
        }

        img{
            width: 100%;
        }
    }
}
