@import '../../_scss/vars';

.cl_root{
    td{
        padding: 4px 12px;
        vertical-align: middle !important;
    }

    ion-icon{
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: white;
    }

    .btn-call{
        background: $success;
    }

    .btn-del{
        background: $fail;
    }

    .toast_root{
        h1{
            margin-bottom: 20px;
        }

        img{
            width: 100%;
        }
    }

    .qr-call{
        display:none;
    }
}

@media screen and (min-width: 992px){
    .cl_root{
        .qr-call{
            display: inline;
        }
        .mobile-call{
            display: none;
        }
    }
}


