@import '../../_scss/vars';

.cook_root {
    position: fixed;
    bottom: 2em;
    left: -3.5em;
    transform: rotate(90deg);
    background-color: rgba($dark, .6);
    border-radius: 8px;
    transition: transform .3s;

    a {
        color: #fff;
        font-size: 1em;
        font-weight: 800;

        p{
            padding: .5em 1em 3em 1em;
        }

        &:hover {
            text-decoration: none;
        }

        &:active  p {
            transform: translateY(5px);
        }
    }

    &:hover {
        transform: translateX(2em) rotate(90deg);
    }
}