.partners_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em 0; }
  .partners_root .partners_deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .partners_root .partners_deck .partner_card {
      width: 256px;
      height: 256px;
      margin: 16px;
      background-color: #2d3436; }
    .partners_root .partners_deck .partners_card_1,
    .partners_root .partners_deck .partners_card_2,
    .partners_root .partners_deck .partners_card_3,
    .partners_root .partners_deck .partners_card_4 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .partners_root .partners_deck .partners_card_1 {
      background-image: url(/cms/images/partner_1); }
    .partners_root .partners_deck .partners_card_1 {
      background-image: url(/cms/images/partner_2); }
    .partners_root .partners_deck .partners_card_1 {
      background-image: url(/cms/images/partner_3); }
    .partners_root .partners_deck .partners_card_1 {
      background-image: url(/cms/images/partner_4); }
