@import "../../_scss/_vars";

.partners_root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;

  .partners_deck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .partner_card {
        width: 256px;
        height: 256px;
        margin: 16px;
        background-color: $dark;
    }

    .partners_card_1,
    .partners_card_2,
    .partners_card_3,
    .partners_card_4 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .partners_card_1 {
      background-image: url(/cms/images/partner_1);
    }

    .partners_card_1 {
      background-image: url(/cms/images/partner_2);
    }

    .partners_card_1 {
      background-image: url(/cms/images/partner_3);
    }

    .partners_card_1 {
      background-image: url(/cms/images/partner_4);
    }
  }
}