.partners_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em 0 3em 0; }
  .partners_root h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    color: #a6988d; }
  .partners_root .partners_deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .partners_root .partners_deck .partner_card {
      width: 256px;
      height: 256px;
      margin: 16px;
      background-color: #2d3436;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .partners_root .partners_deck #partner_card_1 {
      background-image: url(/cms/images/partner_1.jpg); }
    .partners_root .partners_deck #partner_card_2 {
      background-image: url(/cms/images/partner_2.jpg); }
    .partners_root .partners_deck #partner_card_3 {
      background-image: url(/cms/images/partner_3.jpg); }
    .partners_root .partners_deck #partner_card_4 {
      background-image: url(/cms/images/partner_4.jpg); }
