@import "../../_scss/_vars";

.partners_root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 3em 0;

  h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    color: $main2;
    font-size: 3em;
    font-weight: 800;
  }

  .partners_deck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .partner_card {
      position: relative;
        width: 256px;
        height: 256px;
        margin: 16px;
        background-color: $dark;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
  }
}


@media (max-width: #{$screen-lg}) {

}
@media (max-width: #{$screen-md}) {
  .partners_root{
    .partners_deck {
      .partner_card {
        width: 50%;
      }
    }
  }
} 
@media (max-width: #{$screen-sm}) {
  .partners_root{
    .partners_deck {
      .partner_card {
        width: 100%;
      }
    }
  }
}