@import '../../_scss/vars';

.delete_user_root{
    ion-icon{
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: white;
    }

    .btn-del{
        background: $fail;
    }
}