.phone_slider_root {
  display: none;
  position: fixed;
  left: 0;
  bottom: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2ecc71;
  z-index: 9999;
  border-radius: 0 5px 5px 0;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }
  .phone_slider_root a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5em; }
    .phone_slider_root a ion-icon {
      font-size: 2em;
      color: #fff; }

@media (max-width: 500px) {
  .phone_slider_root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
