.slider_root {
    margin-top: 7%;
}

.slider_root .item_slider {
    padding: .5rem;
      color: #929796;
      background-color: #333;
      border-radius: 5px;
      background-size: cover;
      width: 500px;
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; 
}