.toast_root{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: hidden;
    justify-content: center;
    align-items: center;
    z-index: 9999;


    .background{
        background: rgba(15, 2, 2, 0.644);
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
    }
    .message{
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        position: relative;
        background: white; 
        min-height: 25%;
        min-width: 25%;
        padding: 1em;
        max-height: 90%;
        max-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: black;
        overflow: hidden;
 
        .body{
            display: block;
            padding: 20px;
            padding-top: 40px;

            div {
                img{
                    max-height: 80vh;
                }
            }

        }
        p{
            display: block;
        }

        .closeBtn{
            position: absolute;
            top: 0%;
            right: 1%;
        }
    }
}

.toast-hide{
    display: none;
}

.toast-show{
    display: flex;
}