.toast_root {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999; }
  .toast_root .background {
    background: rgba(15, 2, 2, 0.644);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%; }
  .toast_root .message {
    border: 1px solid gray;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: white;
    min-height: 25%;
    min-width: 25%;
    max-height: 80%;
    max-width: 80%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black; }
    .toast_root .message .body {
      display: block;
      padding: 20px;
      padding-top: 40px; }
    .toast_root .message p {
      display: block; }
    .toast_root .message .closeBtn {
      position: absolute;
      top: 0%;
      right: 1%; }

.toast-hide {
  display: none; }

.toast-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
