.toast_root{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: hidden;
    justify-content: center;
    align-items: center;
    z-index: 9999;


    .background{
        background: rgba(15, 2, 2, 0.644);
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
    }
    .message{
        display: flex;
        position: relative;
        background: white; 
        height: 50%;
        width: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        
        .closeBtn{
            position: relative;
        }
    }
}

.toast-hide{
    display: none;
}

.toast-show{
    display: flex;
}