.toast_root {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999; }
  .toast_root .background {
    background: rgba(15, 2, 2, 0.644);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%; }
  .toast_root .message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: white;
    height: 50%;
    width: 50%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: red; }
    .toast_root .message .closeBtn {
      position: relative; }

.toast-hide {
  display: none; }

.toast-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
