@import "../../_scss/vars";

.crm_root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .top_root {
        width: 100%;
        height: 70px;
        max-width: 1400px;
        background-color: $dark;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .bottom_root {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        height: calc(100vh - 70px);
        overflow: scroll;

        .left_root {
            width: 25%;
            min-width: 256px;
            height: calc(100vh - 70px);
            background-color: #aaa;

        }

        .right_root {
            width: 75%;
            height: calc(100vh - 70px);
            background-color: #f2f2f2;
            overflow: scroll;
        }
    }

    ion-icon{
        padding: 18px 0px 18px 18px;
        // padding-right: 18px;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar-toggler{
        color: white;
    }

    #basic-navbar-nav{
        background: $dark;
        width:100%;
        z-index:9999;

        .nav-link{
            color:white;
            padding-right: 18px;
            text-align: end;
        }
    }
}

@media screen and (max-width: 991px){
    .crm_root{
        .left_root{
            display:none;
        }

        .right_root{
            width:100% !important;
        }
    }
}

@media screen and (min-width: 992px){
    .crm_root{
        #basic-navbar-nav,.navbar-toggler{
            display:none !important;
        }
    }
}