@import '../../_scss/vars';

.layout_three_root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #fff;

    .image_wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;

        .left{
            position: relative;
            padding: 1em;
            display: flex;
            justify-content: center;
            height: 80vh;
            width: 40vw;

            .image_1 {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $dark;
                background-size: cover;
                background-position: center;
                z-index: 8;
            }
        }

        .right{
            position: relative;
            padding: 1em;
            display: flex;
            justify-content: center;
            height: 80vh;
            width: 40vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .img {
                position: relative;
                background-color: $dark;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                width: 40vw;
                height: 48.5%;
                z-index: 8;

                &:first-child {
                    margin-bottom: 2%;
                }

                &:last-child {
                    margin-top: 2%;
                }
            }
        }
    }
}