.layout_three_root {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
  background-color: #fff; }
  .layout_three_root .image_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1400px; }
    .layout_three_root .image_wrap .left {
      position: relative;
      padding: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 80vh;
      width: 40vw; }
      .layout_three_root .image_wrap .left .image_1 {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #2d3436;
        background-size: cover;
        background-position: center;
        z-index: 8; }
    .layout_three_root .image_wrap .right {
      position: relative;
      padding: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 80vh;
      width: 40vw;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center; }
      .layout_three_root .image_wrap .right .img {
        position: relative;
        background-color: #2d3436;
        background-size: cover;
        background-position: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 40vw;
        height: 48.5%;
        z-index: 8; }
        .layout_three_root .image_wrap .right .img:first-child {
          margin-bottom: 2%; }
        .layout_three_root .image_wrap .right .img:last-child {
          margin-top: 2%; }
