.portfolio_root {
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }
  .portfolio_root .portfolio_items_go_here {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .portfolio_root .portfolio_items_go_here .deck {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 2em 0; }
      .portfolio_root .portfolio_items_go_here .deck .card {
        position: relative;
        margin: 1em;
        width: 300px;
        height: 300px;
        background-color: #2d3436;
        background-size: cover;
        background-position: center center;
        overflow: hidden; }
        .portfolio_root .portfolio_items_go_here .deck .card div {
          overflow: hidden;
          width: 100%;
          height: 100%;
          background-color: rgba(192, 57, 43, 0.7);
          position: absolute;
          bottom: 0;
          left: 0;
          color: #fff;
          -webkit-transform: translateY(230px);
          -ms-transform: translateY(230px);
          transform: translateY(230px);
          -webkit-transition: -webkit-transform .3s;
          transition: -webkit-transform .3s;
          -o-transition: transform .3s;
          transition: transform .3s;
          transition: transform .3s, -webkit-transform .3s; }
          .portfolio_root .portfolio_items_go_here .deck .card div p:first-child {
            font-weight: 800;
            font-size: 1em;
            text-align: center;
            padding: 1em; }
            .portfolio_root .portfolio_items_go_here .deck .card div p:first-child ion-icon {
              font-size: 1.6em;
              position: absolute;
              right: 0;
              top: 0;
              padding: .5em;
              -webkit-transition: -webkit-transform .3s;
              transition: -webkit-transform .3s;
              -o-transition: transform .3s;
              transition: transform .3s;
              transition: transform .3s, -webkit-transform .3s; }
          .portfolio_root .portfolio_items_go_here .deck .card div p:last-child {
            padding: 1em; }
        .portfolio_root .portfolio_items_go_here .deck .card:hover {
          cursor: pointer; }
        .portfolio_root .portfolio_items_go_here .deck .card .slideUp {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
