@import "../../_scss/_vars";

.portfolio_root {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .portfolio_items_go_here {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .deck {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 2em 0;

            .card {
                position: relative;
                margin: 1em;
                width: 300px;
                height: 300px;
                background-color: $dark;
                background-size: cover;
                background-position: center center;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    color: #fff;
                    width: 100%;
                    background-color: rgba($main, .8);
                    padding: 1em;
                }
            }
        }
    }
}