@import "../../_scss/_vars";

.portfolio_root {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .portfolio_items_go_here {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .deck {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 2em 0;

            .card {
                position: relative;
                margin: 1em;
                width: 300px;
                height: 300px;
                background-color: $dark;
                background-size: cover;
                background-position: center center;
                overflow: hidden;

                div {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($main, .7);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    transform: translateY(230px);
                    transition: transform .3s;

                    p:first-child {
                        font-weight: 800;
                        font-size: 1em;
                        text-align: center;
                        padding: 1em;

                        ion-icon {
                            font-size: 1.6em;
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: .5em;
                            transition: transform .3s;
                        }
                    }
                    p:last-child {
                        padding: 1em;

                    }

                }

                &:hover {
                    cursor: pointer;
                }
                
                .slideUp {
                    transform: translateY(0);
                }
            }
        }
    }
}