@import "../../_scss/vars";

$bg-color: #c23616;

.signupWrapper{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    position: relative;
    z-index: 2;
    min-height: 30vh;

    .background-img:before{
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.4;
        background-image: url("./images/signup_kitchen_background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .body{
        background-color: transparent;
        z-index: 99;
        width: 100%;
    }

    .banner{
        display: flex;
        justify-content: center;
        color: $text;
        font-family: $font;
        padding-top: 5%;
        padding-bottom: 2%;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 99;
        position: relative;
        text-align: center;
    }

    form{
        display: flex;
        padding-top: 2%;
        padding-bottom: 5%;
        position: relative;
        background-color: transparent;
        flex-wrap: wrap;
        z-index: 99;
        // adding max width and margins
        max-width: 1200px;
        margin: auto;

        .form-group {
            display: inline-flex;
            flex-direction: column;
            margin: 8px;
            flex-grow: 1;
            flex-shrink: 1;   
            flex-basis: 100%;         
        }

        .btn{
            display: inline-block;
            // width: 100%;
            // flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            margin: 8px;
            min-width: 120px;
            justify-content: center;
            background-color: $bg-color;
            border-color: $dark;
        }    


        .invalid-feedback{
            color:white;
            padding-left: 14px;
        }
        
    }
}


@media screen and (min-width:768px){
    .signupWrapper{
        form{
            .form-group{
                flex-basis: 45% !important;
            }
        }
    }
}

@media screen and (min-width:992px){
    .signupWrapper{
        form{
            flex-wrap: nowrap;
            padding-top: 1%;
            padding-bottom: 3%;   
        }

        .banner{
            padding-top: 3%;
            padding-bottom: 1%;
        }

        .form-group{
            flex-basis: 20% !important;
        }

        .btn{
            max-width: 120px;
            max-height: 38px;
        }

    }
}

#middle_name {
    display: none;
}