.signupWrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #2d3436;
  position: relative;
  z-index: 2;
  min-height: 30vh; }
  .signupWrapper .background-img:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("./images/signup_kitchen_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }
  .signupWrapper .body {
    background-color: transparent;
    z-index: 99;
    width: 100%; }
  .signupWrapper .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: "comic sans";
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 99;
    position: relative;
    text-align: center; }
  .signupWrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2%;
    padding-bottom: 5%;
    position: relative;
    background-color: transparent;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 99;
    max-width: 1200px;
    margin: auto; }
    .signupWrapper form .form-group {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 8px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      padding-left: 1em; }
      .signupWrapper form .form-group input {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; }
      .signupWrapper form .form-group span {
        display: block; }
    .signupWrapper form .btn {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      min-width: 120px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #c23616;
      border-color: #2d3436; }
    .signupWrapper form .invalid-feedback {
      color: white;
      padding-left: 14px; }

#middle_name {
  display: none; }
