.notewrapper_root textarea {
  min-width: 480px; }

@media screen and (min-width: 769px) {
  .notewrapper_root textarea {
    min-width: 600px; } }

@media screen and (min-width: 1025px) {
  .notewrapper_root textarea {
    min-width: 800px; } }
