@import "../../_scss/_vars";

.footer_root {
    width: 100%;
    min-height: 40vh;
    background-color: $dark;
    color: #fff;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .footer_wrap {
        width: 100%;
        height: 100%;
        color: #fff;

        .top_wrap,
        .mid_wrap,
        .bottom_wrap {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
                                    
            div {
                width: 100%;
                max-width: 1200px;
            }
        }

        .top_wrap {
            min-height: 5em;
            padding: 1em;
            background-color: #5f4f66;
        }

        .mid_wrap {
            min-height: 50%;
        }

        .bottom_wrap {
            text-align: center;
            color: $dark_highlight;
        }
    }
}