.footer_root {
  width: 100%;
  height: 50vh;
  min-height: 256px;
  background-color: #2d3436;
  color: #fff;
  font-size: .8em; }
  .footer_root div ul {
    text-decoration: none; }
    .footer_root div ul li {
      text-decoration: none; }
