@import "../../_scss/_vars";

.footer_root {
    width: 100%;
    background-color: $dark;
    color: #fff;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .footer_wrap {
        width: 100%;
        height: 100%;
        color: #fff;

        .top_wrap,
        .mid_wrap,
        .bottom_wrap {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;

            h3 {
                font-weight: 600;
            }
                                    
            div {
                width: 100%;
                max-width: 1200px;
            }
        }

        .top_wrap {
            min-height: 3em;
            padding: 1em;
            background-color: $main2;
        }

        .mid_wrap {
            min-height: 50%;
            font-size: 1.3em;

            a {
                color: #fff;
            }

            div {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: flex-start;
                padding: 1em 0;

                div {
                    width: 40vw;
                    min-width: 256px;
                    height: auto;
                    padding: 0 1em 1em 1em;

                    ul {

                        li {
                            padding: .25em;
                        }
                    }
                }

                .footer_section_1 {
                    display: block;

                    ul {
                        li {
                            span {
                                display: inline-block;
                            }
                        }
                    }
                }
                .footer_section_2 {
                    display: block;
                }
                .footer_section_3 {
                    display: block;
                    font-size: 2em;

                    ul {

                        li{
                            font-size: 1em;
                            padding: 4px;
                            display: inline-block;

                            a {
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: flex-start;
                                align-items: flex-start;
                                font-size: 1em;
                                color: #fff;
         
                                &:visited,
                                &:active {
                                    color: #fff;
                                }

                                &:hover {
                                    text-decoration: none;
                                }

                                h4 {
                                    padding: 0 .5em;
                                }
                                
                            }
                        }
                    }

                    a {
                        color: #fff;

                        &:visited,
                        &:active {
                            color: #fff;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .bottom_wrap {
            position: relative;
            text-align: center;
            color: $dark_highlight;
            min-height: 5vh;
            background-color: #1e272e;

            .legal {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
                text-align: center;
            }
        }
    }
}

@media (max-width: #{$screen-lg}) {}

@media (max-width: #{$screen-md}) {
    .footer_root {

        .footer_wrap {

            .top_wrap,
            .mid_wrap,
            .bottom_wrap {

                div {
                    border-bottom: 2px solid;
                    padding: 1em 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 1em 0;
                    font-size: .9em;
                    
                    ul {
                        li {
                            ion-icon {
                                padding: 0 .5em 0 0;
                            }
                        }
                    }
                }

                div:last-child {
                    border: none
                }
            }

            .top_wrap,
            .mid_wrap,
            .bottom_wrap { 
                width: 100%;
            }

            .bottom_wrap {
                div {
                    h3 {
                        text-align: center;
                    }
                }
            }

            .mid_wrap {
                    
                h3 {
                    text-align: center;
                }

                .footer_section_1,
                .footer_section_2,
                .footer_section_3 {
                    width: 75%;
                }

                .footer_section_3 {
                    ul {
                        display: flex;
                        justify-content: center;
                        padding-left: 1em;
    
                        li {
    
                            a{
                                ion-icon {
                                    pad: 0 .5em;
                                }
                            }
                        }
                    }
                }
               

                div {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: #{$screen-sm}) {
    .footer_root {

        .footer_wrap {

            .top_wrap,
            .mid_wrap,
            .bottom_wrap {

                div {
                    border-bottom: 2px solid;
                    padding: 1em 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 1em 0;
                    font-size: .9em;
                    
                    ul {
                        li {
                            ion-icon {
                                padding: 0 .5em 0 0;
                            }
                        }
                    }
                }

                div:last-child {
                    border: none
                }
            }

            .bottom_wrap {
                min-height: 5em;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    h3 {
                        text-align: center;
                    }
                }
            }

            .mid_wrap {
                    
                h3 {
                    text-align: center;
                }

                .footer_section_1,
                .footer_section_2,
                .footer_section_3 {
                    width: 90%;
                }

                .footer_section_3 {
                    max-height: 150px;

                    ul {
                        padding: .8em 0 0 1em;
                        display: flex;
                        justify-content: center;
    
                        li {
    
                            a{
                                ion-icon {
                                    pad: 0 .5em;
                                }
                            }
                        }
                    }

                    ul:last-child {
                        border-top: 1px solid #fff;
                        width: 100%;
                    }
                }
               

                div {
                    flex-wrap: wrap;
                }
            }
        }
    }
}
