.footer_root {
  width: 100%;
  min-height: 40vh;
  background-color: #2d3436;
  color: #fff;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .footer_root .footer_wrap {
    width: 100%;
    height: 100%;
    color: #fff; }
    .footer_root .footer_wrap .top_wrap,
    .footer_root .footer_wrap .mid_wrap,
    .footer_root .footer_wrap .bottom_wrap {
      position: relative;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .footer_root .footer_wrap .top_wrap div,
      .footer_root .footer_wrap .mid_wrap div,
      .footer_root .footer_wrap .bottom_wrap div {
        width: 100%;
        max-width: 1200px; }
    .footer_root .footer_wrap .top_wrap {
      min-height: 5em;
      padding: 1em;
      background-color: #5f4f66; }
    .footer_root .footer_wrap .mid_wrap {
      min-height: 50%; }
    .footer_root .footer_wrap .bottom_wrap {
      text-align: center;
      color: #535c68; }
