.herosmart_root {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .herosmart_root div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s; }
  .herosmart_root div:last-child h1,
  .herosmart_root div:last-child h2 {
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 28px #2d3436;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .herosmart_root div:last-child h1 {
    width: 100%;
    font-size: 5em; }
  .herosmart_root div:last-child h2 {
    width: 100%;
    display: block;
    font-size: 3em; }
  .herosmart_root span {
    position: absolute;
    left: 0;
    z-index: 8; }

@media (max-width: 768px) {
  .herosmart_root div:last-child h1 {
    font-size: 3em; }
  .herosmart_root div:last-child h2 {
    font-size: 1.5em; } }
