@import "../../_scss/_vars";

.herosmart_root {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;

    div:first-child {
        position: absolute;
        top: 0;
        left: 0;
        background-position: center 0px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }

    div:last-child {

        h1,
        h2 {
            font-weight: 900;
            color: #fff;
            text-shadow: 0 0 28px $dark;
        }
    
        h1 {
            width: 100%;
            font-size: 5em;
        }
    
        h2 {
            width: 100%;
            display: block;
            font-size: 3em;
        }
    }
}