.lead_root td {
  padding: 4px 12px;
  vertical-align: middle !important; }

.lead_root .btn-call {
  background: #2ecc71; }

.lead_root .btn-check {
  background: #e74c3c; }

.lead_root ion-icon {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  color: white; }

.lead_root tr {
  height: 40px; }
