.lead_root td {
  vertical-align: middle !important; }

.lead_root .btn-call {
  background: #2ecc71; }

.lead_root ion-icon {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  color: white; }

.lead_root tr {
  height: 40px; }
