@import '../../_scss/vars';

.upload_img_root {
    position: absolute;
    top: 3em;
    left: 0;
    transform: translate(0, 0) !important;
    background-color: rgba($dark, 0) !important;
    z-index: 9999;
    max-height: 3em;

    .upload_button {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        padding: .2em;

        ion-icon {
            transform: translateY(3px);
        }
    }

    .upload_button + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: rgba(#000, .6);
        display: inline-block;
    }
    
    .upload_button:focus + label,
    .upload_button + label:hover {
        background-color: rgba($main, .6);
        cursor: pointaer;
    }

    button {
        text-decoration: none;
        font-size: 1.25em;
        background-color: rgba(#000, .6);
        font-weight: 700;
        color: white;
        border: none;
        padding: .2em;

        ion-icon {
            transform: translateY(3px);
        }

        &:hover {
            background-color: rgba($main, .6);
            cursor: pointer;
        }

        &:active ion-icon {
            transform: translateY(7px);
        }
    }
}