.upload_img_root {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  background-color: rgba(45, 52, 54, 0) !important;
  z-index: 9999; }
  .upload_img_root .upload_button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .upload_img_root label {
    padding: .2em; }
    .upload_img_root label ion-icon {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px); }
  .upload_img_root .upload_button + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block; }
  .upload_img_root .upload_button:focus + label,
  .upload_img_root .upload_button + label:hover {
    background-color: rgba(192, 57, 43, 0.6);
    cursor: pointer; }
  .upload_img_root button {
    text-decoration: none;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    color: white;
    border: none;
    padding: .2em; }
    .upload_img_root button ion-icon {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px); }
    .upload_img_root button:hover {
      background-color: rgba(192, 57, 43, 0.6);
      cursor: pointer; }
    .upload_img_root button:active ion-icon {
      -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
      transform: translateY(7px); }
