.navlink{
    background-color: #aaa;
    width: 70%;
    height: 60px;
    margin-top: 10px;
    display: flex;

    .navlink-link{
        background:white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 85%;
        height: 100%;
        text-decoration: none;
        color: black;
    }

    span{
        background: white;
        border-bottom-right-radius: 85%;
        border-top-right-radius: 85%;
        width: 15%;
        height: 100%;    
    }

}

.active a{
        color: red !important;
}

.active{
    width: 90%;
}
