.navlink {
  background-color: #aaa;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navlink .navlink-wrapper {
    background: #aaa;
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navlink .navlink-wrapper .navlink-link {
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 85%;
      text-decoration: none;
      color: black; }
    .navlink .navlink-wrapper span {
      background: white;
      border-bottom-right-radius: 85%;
      border-top-right-radius: 85%;
      width: 15%;
      height: 100%; }
