@import "../../_scss/_vars";

.quote_root {
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .background-img {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        bottom: 0;
        background-image: url("./images/background_quotes.jpg");
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
    }

    .quote {
        position: relative;
        width: 35%;
        min-width: 256px; 
        min-height: 256px;
        background-color: rgba($main, .8);
        padding: 1em;
        color: #fff;
        margin: 1em 0 1em 10%;
            
            ion-icon {
                position: absolute;
                left: 16px;
                top: 16px;
                color: rgba($light, .6);
                font-size: 4em;
            }

            p {
                margin: 15% 0 0 10%;
                font-size: 1.5em;
                font-weight: 200;

                span {
                    font-size: .8em;
                    text-shadow: none;
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                }
            }
    }
}