@import '../../_scss/vars';

.cal_root{
     position: relative;

     button{
         position: relative;
     }

    .dropdown{
        flex-direction: column;
        // min-width: 120px;
        background: white;

        a{
            text-decoration: none;
            margin: 6px;
            color: $dark;
        }

        a:hover{
            background: lightgray;
        }
    }

    ion-icon{
        font-size: 18px;
        padding: 0px;
        margin: 0px;
        color: white;
    }

}