@import '../../_scss/vars';

.login_root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/cms/images/check_1.jpg');
    background-size: cover;
    background-position: center center;

    form {
        width: 90%;
        max-width: 512px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba($light, 1);
        border-radius: 5px;
        padding: 2em 1em;

        div {
            width: 80%;

            label {
                font-weight: 800;
                font-size: 2em;
            }

            input {
                text-decoration: none;
                width: 100%;
                margin: 1em;
                padding: 1.1em;
                font-size: 1.2em;
                background-color: #fff;
            }

        }

        button {
            width: 50%;
            min-width: 180px;
            max-width: 256px;
            padding: 1em .25em;
            border-radius: .2em;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 1.2em;
            background-color: #fff;

            &:hover {
                background-color: #fafafa;
            }
        }

        a {
            display: block;
            width: 100%;
            text-align: center;
            padding-top: 2em;
        }
    }
}