.call_root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0; }
  .call_root div {
    position: absolute;
    left: 0;
    bottom: 1em; }
