@import "../../_scss/_vars";

.checkbox_root {
  width: 100%;
  height: 100vh;
  background-image: url('./images/background_checkbox.jpg');
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      font-size: 3em;
      line-height: 4em;
      color: #fff;
      text-transform: uppercase;
    }

    div {
      width: 3em;
      height: 3em;
      line-height: 4em;
      background-color: rgba($main, .8);
    }

  }
}