@import "../../_scss/_vars";

.checkbox_root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/cms/images/check_1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .checkbox_wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1em;

    div {
      margin: .5em;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      align-items: center;

      h3 {
        font-size: 4rem;
        padding: 0 .5em;
        color: $text;
        text-transform: uppercase;
        display: inline-block;
        text-shadow: 3px 3px 10px $main4;
      }

      div {
        display: inline-block;
        width: 5em;
        height: 5em;
        background-color: $main4;
      }
    }
  }
}