.layout_basic_root {
  width: 100%;
  min-height: 30vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .layout_basic_root div {
    max-width: 1200px;
    min-width: 80vw;
    min-height: 30vh;
    height: 100%;
    background-color: #fff;
    padding: 2em; }
    .layout_basic_root div h2 {
      font-weight: 800;
      font-size: 3em;
      color: #a6988d; }
    .layout_basic_root div p {
      font-size: 1.1em;
      line-height: 1.2em;
      font-weight: 400; }
