@import "../../_scss/_vars";

.nav_root {
    color: #fff;
    background-color: $main;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;

    li {
        padding: 12px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            outline: 1px solid #fff;
        }

        &:active {
            color: #fff;
            transform: translateY(5px);
        }
    }
}