.nav_root {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 57, 43, 0.9)), color-stop(rgba(192, 57, 43, 0.8)), to(rgba(192, 57, 43, 0)));
  background: -webkit-linear-gradient(rgba(192, 57, 43, 0.9), rgba(192, 57, 43, 0.8), rgba(192, 57, 43, 0));
  background: -o-linear-gradient(rgba(192, 57, 43, 0.9), rgba(192, 57, 43, 0.8), rgba(192, 57, 43, 0));
  background: linear-gradient(rgba(192, 57, 43, 0.9), rgba(192, 57, 43, 0.8), rgba(192, 57, 43, 0));
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5em 0 0 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 9999;
  max-width: 100%;
  overflow: hidden; }
  .nav_root ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .nav_root ul li {
      border-right: 2px solid #f1f1f1;
      margin: 0 .5em .5em .5em;
      padding: 0 1em 0 0; }
      .nav_root ul li:last-child {
        border: none; }
      .nav_root ul li:active div {
        color: #fff;
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px); }
      .nav_root ul li ion-icon {
        font-size: 2em; }
    .nav_root ul a {
      color: #fff;
      text-decoration: none;
      padding: 4px;
      margin: .25em; }
  .nav_root #mobile_menu {
    z-index: 9999;
    font-size: 2em;
    padding: 2px .3em 0 .3em;
    border-radius: 0 0 5px 0;
    margin: 0;
    display: none;
    background-color: rgba(192, 57, 43, 0.9); }

.positionZero {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

@media (max-width: 768px) {
  .nav_root {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: translateY(-82%);
    -ms-transform: translateY(-82%);
    transform: translateY(-82%);
    background-color: rgba(192, 57, 43, 0.8);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    position: fixed; }
    .nav_root ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .nav_root ul li {
        display: block;
        width: 100%;
        border: none; }
    .nav_root #mobile_menu {
      font-size: 2.8em;
      display: block; } }

.positionZero {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #c0392b; }
