.nav_root {
  color: #fff;
  background-color: #e74c3c;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1em; }
  .nav_root li {
    border-right: 1px solid #f1f1f1;
    padding: .25em .5em; }
    .nav_root li:last-child {
      border: none; }
    .nav_root li:active {
      color: #fff;
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }
    .nav_root li ion-icon {
      font-size: 2em; }
  .nav_root a {
    color: #fff;
    text-decoration: none;
    padding: 4px;
    margin: .25em; }
  .nav_root #mobile_menu {
    display: none; }

@media (max-width: 768px) {
  .nav_root {
    background-color: rgba(231, 76, 60, 0); }
    .nav_root li {
      display: none; }
    .nav_root #mobile_menu {
      display: block; } }

@media (max-width: 769px) {
  .nav_root {
    background-color: rgba(231, 76, 60, 0); }
    .nav_root li {
      font-size: .8em;
      display: none; }
    .nav_root #mobile_menu {
      display: block; } }

@media (min-width: 1025px) {
  .nav_root li {
    display: block; }
  .nav_root #mobile_menu {
    display: none; } }
