@import "../../_scss/_vars";

.nav_root {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: linear-gradient(rgba($main, .9), rgba($main, .8), rgba($main, 0));
    text-decoration: none;
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 0 0 0;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 9999;

    ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;

        li {
            border-right: 2px solid rgba($light, 1);
            margin: 0 .5em .5em .5em;
            padding: 0 1em 0 0;
    
            &:last-child {
                border: none;
            }
    
            &:active div{
                color: #fff;
                transform: translateY(5px);
            }
    
            ion-icon {
                font-size: 2em;
            }
        }
    
        a {
            color: #fff;
            text-decoration: none;
            padding: 4px;
            margin: .25em;
    
        }
    }

    #mobile_menu {
        z-index: 9999;
        font-size: 2em;
        padding: 2px .3em 0 .3em;
        border-radius: 0 0 5px 0;
        margin: 0;
        display: none;
        background-color: rgba($main, .9);
    }
}

.positionZero {
    transform: translateY(0);
}

@media (max-width: #{$screen-sm}) {
    .nav_root {
        flex-wrap: wrap;
        transform: translateY(-82%);
        transition: transform .3s;
        position: fixed;

        ul {
            flex-wrap: wrap;

            li {
                display: block;
                width: 100%;
                border: none;
            }
        }

        #mobile_menu {
            font-size: 2.7em;
            display: block;
        }
    }
}

@media (max-width: #{$screen-md}) {
    .nav_root {
    }
}

@media (min-width: #{$screen-lg}) {

}

.positionZero {
    transform: translateY(0);
    background-color: (rgba($main, 1))
}