.nav_root {
  color: #fff;
  background-color: #e17055;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700; }
  .nav_root li {
    padding: 12px; }
  .nav_root a {
    color: #fff;
    text-decoration: none; }
    .nav_root a:hover {
      outline: 1px solid #fff; }
    .nav_root a:active {
      color: #fff;
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }
