@import "../../_scss/_vars";

.hero_root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(./images/kitchen_black.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
        background-color: rgba($main, .8);
        color: #fff;
        width: 40%;
        max-width: 768px;
        min-width: 356px;
        height: 50%;
        min-height: 256px;
        
        div {
            background: none;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        p {
            display: block;
            padding: 1em 2em;
        }
    }
}