.hero_root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/kitchen_black.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1; }
  .hero_root div {
    background-color: rgba(192, 57, 43, 0.8);
    color: #fff;
    width: 40%;
    max-width: 768px;
    min-width: 356px;
    height: 50%;
    min-height: 256px; }
    .hero_root div div {
      background: none;
      width: 100%;
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
    .hero_root div p {
      display: block;
      padding: 1em 2em; }
