@import "../../_scss/_vars";

.hero_root {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;



    div {
        background-color: rgba($main, .8);
        color: #fff;
        width: 40%;
        max-width: 768px;
        min-width: 356px;
        height: 50%;
        min-height: 256px;
        
        div {
            background: none;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        p {
            display: block;
            padding: 1em 2em;
        }
    }

    .hero_background {
        position: absolute;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        max-height: 100%;
        left: 0;
        bottom: 0;
        background-image: url(./images/kitchen_black.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
}