.stateGallery_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 2em auto;
  margin: 0 auto;
  margin-left: 10%;
 }

 .item:hover {
  -webkit-transform: scale(2,2);
}


