.stateGallery_root {
    display: -ms-grid;
    display: grid;
    max-width: 1200px;
    margin: 2em auto;
    .image_div {
       position: relative;
       display: flex;
       flex-direction: row;
    }



}