.stateGallery_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 2em auto;
  margin: 0 auto;
  margin-left: 10%;
 }
.item {
  transition: transform .3s;
}
 .item:hover {
  -webkit-transform: scale(1.1);
}


